*.pth
*.env
*#
*~
*.pyc
*__pycache__
*.json

*.DS_Store
dist/

# JetBrains IDEs
.idea/

# Next.js
.next/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build cache
**/*.pack
**/*.pack.gz
**/*.pack.old

# Dependencies
node_modules/
frontend/node_modules/
Frontend/node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify

# Cache files
**/*.pack
**/*.pack.gz
**/*.pack.old

# Build artifacts
**/swc-darwin-arm64/
**/swc-darwin-x64/
**/swc-linux-arm64/
**/swc-linux-x64/
**/swc-win32-arm64/
**/swc-win32-x64/
